/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
/*===== VARIABLES CSS =====*/
/*=== Typography ===*/
:root {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

@media screen and (max-width: 768px) {
  :root {
    --font-bd-mb: 0.9rem;
    --font-heading-mb-header: 1.5rem;
  }
}

/*=== Colors ===*/
:root {
  --color-pink: hsla(322, 100%, 49%, 0.897);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-very-pale-blue: hsl(207, 100%, 98%);
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p,
button {
  font-family: var(--font-body);
  color: var(--color-very-dark-cyan);
}

button {
  border: none;
}

h1 {
  font-family: var(--font-heading);
  color: var(--color-very-dark-cyan);
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.get_btn {
  color: #fff;
  background: var(--color-pink);
  border-radius: 5rem;
  max-width: 100%;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 1rem 6rem;
  font-weight: var(--font-bold);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.get_btn:hover {
  cursor: pointer;
  background-color: var(--color-light-pink);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-light-pink);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.mb_bg {
  display: none;
}

/*===== HEADER =====*/
.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  margin: 50px auto;
}

.nav_bar img {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .nav_bar {
    margin: 20px auto;
  }
  .nav_bar img {
    margin-top: 5px;
    width: 30%;
    height: 1rem;
  }
}

.nav_bar .try_btn {
  background: none;
  color: var(--color-pink);
  border: solid 0.1rem var(--color-pink);
  border-radius: 5rem;
  padding: 0.2rem 1.1rem;
  font-weight: var(--font-semi-bold);
}

/*===== HERO =====*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  margin: 7rem auto;
  text-align: center;
}

.hero h1 {
  margin: 0 0.3rem;
}

.hero p {
  margin: 2rem 0 3rem 0;
}

@media screen and (max-width: 768px) {
  .hero {
    font-size: var(--font-bd-mb);
  }
  .hero h1 {
    font-size: var(--font-heading-mb-header);
  }
}

.hero .get_btn {
  padding: .8rem 3rem;
}

/*===== COMMUNIT =====*/
.communit_section {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

.communit_section img:nth-of-type(2) {
  max-width: 80%;
  margin: 0 auto;
}

.communit_section .mobile_bg {
  display: none;
}

.communit_section .comumunit_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 300px 50px 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.communit_section .communit_box {
  padding: 30px;
}

.communit_section h1 {
  font-size: 4rem;
}

.communit_section p {
  text-align: center;
  color: rgba(0, 37, 46, 0.603);
}

@media screen and (max-width: 375px) {
  .communit_section .mobile_bg {
    display: block;
    position: absolute;
    margin: 0;
    max-width: 200%;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .communit_section .comumunit_container {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
    display: block;
  }
  .communit_section .comumunit_container .communit_box {
    padding: 30px 0;
  }
  .communit_section .comumunit_container .communit_box:last-of-type {
    padding-top: 60px;
  }
  .communit_section .comumunit_container img {
    max-width: 17%;
  }
  .communit_section .comumunit_container h1 {
    font-size: 3rem;
    font-family: var(--font-body);
    font-weight: 800;
  }
  .communit_section .comumunit_container p {
    color: rgba(0, 37, 46, 0.603);
  }
}

/*===== INFO =====*/
.info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.info_section .info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 150px;
}

.info_section .info_box img {
  max-width: 40%;
}

.info_section .info_box .box_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.info_section p, .info_section h1 {
  max-width: 85%;
  padding-bottom: 50px;
}

.info_section h1 {
  padding-bottom: 10px;
}

.info_section .info_box:nth-of-type(1) {
  background-color: var(--color-very-pale-blue);
}

.info_section .info_box:nth-of-type(2) {
  padding: 150px 0 0 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.info_section .info_box:nth-of-type(2) .box_text {
  padding-left: 150px;
}

.info_section .info_box:nth-of-type(3) {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--color-very-pale-blue);
}

.info_section img {
  max-width: 80%;
  margin: 0 auto;
}

.info_section .ready_h1 {
  padding: 100px 0 30px 0;
  margin: 0 auto;
}

.info_section .get_btn:last-of-type {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .info_section .info_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info_section .info_container .info_box {
    display: block;
    padding: 100px 0;
    max-width: 100%;
    margin: 0 auto;
  }
  .info_section .info_container .info_box img {
    max-width: 80%;
    margin: 0 auto;
  }
  .info_section .info_container .info_box .box_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .info_section .ready_h1 {
    margin: 0 auto;
  }
}

.info_section .bg_desk {
  max-width: 100%;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .info_section .bg_desk {
    display: none;
  }
  .info_section .mb_bg {
    display: inline;
    max-width: 100%;
  }
}

.info_section .desk_ft_bg {
  margin-top: 100px;
}

/*===== FOOTER =====*/
footer {
  background-color: var(--color-very-dark-cyan);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .mobile_ft_bg {
  display: none;
}

footer p, footer h1 {
  color: #fff;
}

footer .input_email {
  border-radius: 5px;
  border: none;
}

footer .sub_btn {
  background-color: var(--color-pink);
  color: #fff;
  font-weight: var(--font-bold);
  margin-bottom: 30px;
  padding: 12px 40px;
  max-width: 70%;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer .newsletter {
  padding-top: 100px;
  max-width: 40%;
}

footer .newsletter h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer .newsletter p {
  max-width: 70%;
}

footer .newsletter .input_email {
  padding: 13px 60px;
  margin: 40px 30px 0 0;
}

footer .footer_info {
  max-width: 25%;
  padding-top: 100px;
}

footer .footer_info p {
  margin-bottom: 20px;
}

footer .footer_info i {
  font-size: 26px;
  padding-left: 10px;
  color: #fff;
  margin: 20px 0 50px 0;
}

footer .footer_info i:hover {
  cursor: pointer;
  color: aqua;
}

footer .footer_info .icon_bot {
  max-width: 50%;
  margin-bottom: 20px;
}

footer .footer_info .foot_icons {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  margin: 0 0 0 20px;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: '1 2' '3 4';
}

@media screen and (max-width: 375px) {
  footer .mobile_ft_bg {
    display: block;
    position: absolute;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  footer .newsletter {
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  footer h1 {
    text-align: left;
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
  footer p {
    max-width: 100%;
    text-align: left;
    font-size: 0.9rem;
    line-height: 30px;
    font-weight: var(--font-semi-bold);
  }
  footer .input_email {
    margin: 30px 0 15px 0;
    padding: 15px;
  }
  footer .sub_btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 10px 30px 0 0;
  }
  footer .icon_bot {
    max-width: 100%;
    margin: 40px 0;
  }
  footer .footer_info {
    max-width: 80%;
    margin: 0 auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--color-very-dark-cyan);
  color: #fff;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */